KC_DB_PASSWORD=replace-for-local-development
KEYCLOAK_ADMIN_PASSWORD=replace-for-local-development
KEYCLOAK_IMAGE=keycloak-custom:dev
AMIGO_VERIFY_API_URL=http://host.docker.internal:8888/api/internal/verify
AMIGO_USER_API_URL=http://host.docker.internal:8888/api/internal/users
AMIGO_INTERNAL_API_KEY=replace-for-local-development
